.containerHomePage{
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(28, 59, 63, 0.5)), url("../assets/images/Photo_Thomas.jpg");
  background-size: cover;
  background-position: 50% 30%;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHome {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 3em;
  margin: 0;
}

.fleche_bas{
  width: 1px;
  height: 100px;
  background: white;
}

/* .linkHome{
  width: 30%;
  border: 2px solid white;
  border-radius: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.linkHome a{
  color: white;
  text-decoration: none;
} */